<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dice roll</title>
        <link rel="stylesheet" href="/dice.css" />
    </head>
    <body>
        <h1>You rolled a <%= number %></h1>
        <p>Refresh the page to roll again...</p>
    </body>
</html>